@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* Fonts */
  --font-main: var(--font-nunito);
  --font-decorative: var(--font-jmadh);
  /* Colors  */
  --color-custom-red: #d20c0c;
  --color-custom-orange: #ff9900;
  --color-custom-green: #04b100;
  --color-custom-blue: #244fe8;
  --color-custom-light-red: #fae7e7;
  --color-custom-light-green: #e6f7e6;
  --color-custom-light-orange: #fff5e6;
  --color-custom-light-blue: #d3dcfb;
  --color-custom-dark-green: #168914;
  --color-custom-dark-oragne: #c65f00;
}

@layer utilities {
  .disabled {
    @apply opacity-50 pointer-events-none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

button {
  cursor: pointer;
}
